#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_yiffcoin
#build/yiffcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_yiffcoin)

DEB_INSTALL_EXAMPLES_yiffcoind += debian/examples/*
DEB_INSTALL_MANPAGES_yiffcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix yiffcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f yiffcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake yiffcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_yiffcoin
	src/test_yiffcoin

# Ensure wrapper is set executable
binary-post-install/yiffcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/yiffcoind
binary-post-install/yiffcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/yiffcoin-qt
